.gallery {
    padding: 10px;
    width: 1000px;
    margin: 0 auto;
}

.gallery .image {
    float: left;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin: 10px;
}

.gallery .image a {
    display: block;
    height: 150px;
    width: 150px;
}
p a {
	text-decoration: none;
}
p a:visited {
	color: orange;
}
.clear{
    clear: both;
    text-align: center;
}