body{
    background-color: #161616;
    color: white;
}
#wrapper{
    position: absolute;
    width: 900px;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
}
h1{
    text-align: center;
}
.gallery .image img{
    float: left;
    width: 150px;
    height: 150px;
    border: 1px solid white;
    margin: 10px;
}
.image img:first-child{
    margin-left: 15px;
}
.gallery .image a {
    display: inline-block;
    height: 172px;
    width: 172px;
}
p a {
	text-decoration: none;
	color: orange;
}
.clear{
    clear: both;
}
.gallery p{
    font-size: 0.7em;
}
.star{
    color: red;
    font-size: 0.7em;
}
p.clear{
    width: 100%;
    position: relative;
}
.page_img{
    text-align: center;
}
.date_img{
    width: 300px;
    height: 100px;
    margin: 50px auto 0 auto;
    text-align: center;
}
.modif{
    margin: 15px;
}
.nbr_nav{
    text-align: center;
}
.nbr_nav a{
    padding: 5px;
}